body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden 
}
p{
    text-align: center;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 100px;
    position: absolute;
   bottom: 550px;
   left: 620px;
}
.home {
    color: rgb(255, 255, 255);
    font-weight:bold ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 150px;
    left: 260px;
}

img{
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 200px;
    height: 0px;
    transition: 1s ease;
    border-radius: 50%;
}
.container-1:hover .overlay{
    height: 100%;
}
.container-1{
    position: relative;
    left: 50px;
    bottom: 400px;
    width: 200px;
    border-radius: 100px;
}
.jca {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 50%;
}


.name-1 {
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif cursive;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
}

.button-1{
    background-color: rgb(232, 28, 28);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 10px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    border-radius: 33px;
    cursor: pointer;
}
.container-2{
    position: relative;
    bottom: 600px;
    width: 25%;
    left: 320px;
}
.dar {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
.container-2:hover .overlay{
    height: 100%;
}
.name-2 {
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif cursive;
    margin-top: 50px;
    margin-bottom: 1px;
    font-size: 16px;
}
.button-2{
    background-color: rgb(232, 28, 28);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 10px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    border-radius: 33px;
    cursor: pointer;
}
.container-3{
    position: relative;
    width: 25%;
    bottom: 800px;
    left: 580px;
}
.luki {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
.container-3:hover .overlay{
    height: 100%;
}
.name-3 {
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif cursive;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 17px;
}
.button-3{
    background-color: rgb(232, 28, 28);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 10px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    border-radius: 33px;
    cursor: pointer;
}
.container-4{
    position: relative;
    width: 25%;
    bottom: 1000px;
    left: 840px;
}
.von {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
.container-4:hover .overlay{
    height: 100%;
}
.name-4 {
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif cursive;
    margin-top: 40px;
    margin-bottom: 1px;
    font-size: 17px;
}

.button-4{
    background-color: rgb(232, 28, 28);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 10px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    border-radius: 33px;
    cursor: pointer;
}
.container-5{
    position: relative;
    width: 25%;
    bottom: 1200px;
    left: 1100px;
}
.herb {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
.container-5:hover .overlay{
    height: 100%;
}
.name-5 {
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif cursive;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
}

.button-5{
    background-color: rgb(232, 28, 28);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 10px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    border-radius: 33px;
    cursor: pointer;
}

.slideshow-container {
    max-width: 1550px;
    position: relative;
    margin: auto;
  }
  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.active {
    background-color: #717171;
}

  
  .active {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }